/*  Education Page



*/



/* .post-secondary-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.post-secondary-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  align-items: top;
}

/* New class to manage the stacked headings on the right */
.post-secondary-headings-container {
  display: flex;
  flex-direction: column;
  gap: 20rem; /* Adjust this to change the space between the two h3s */
}

.post-secondary-img {
  max-width: 1000px;
  width: 100%;
  background-color: #FFFFFF;
}

.post-secondary-headings {
  margin-bottom: 2rem;
}